{% extends 'base.html.twig' %}
{% block main %}
{# boucle affiche un message d'erreur si email incorrect #}
{% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
<div class="insert-register position-relative">
    <div class="inscription position-absolute">
        <p class="inscrivez-vous">Pour vous inscrire nous avons besoin de renseignements.<br> Parler nous de vous!</p>
    </div>
    {# form_start et ca fonction registrationForm me permet de generer un gabarit de formulaire ou je peux peronnalisé
    les champs et le stylisé
    avec bootstrap#}
    {{ form_start(registrationForm) }}
       <div class="form-group-register">
          <h1 class="titre-inscription">Inscrivez-vous!</h1>
                 <div class="form-group col-6 col-md-4 col-lg-3">
                     {{ form_label(registrationForm.firstname) }}
                     {{ form_widget(registrationForm.firstname,{ 'attr':{'class':'form-control'}}) }}
                     {#  la fonction form_errer me permet d'afficher les messages d'erreur que j'ai definis
                     dans les entités#}
                     {{ form_errors(registrationForm.firstname) }}
                </div>
                <div class="form-group col-6 col-md-4 col-lg-3">
                    {{ form_label(registrationForm.name) }}
                    {{ form_widget(registrationForm.name,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(registrationForm.name) }}
                </div>

                <div class="form-group col-6 col-md-4 col-lg-3">
                    {{ form_label(registrationForm.age) }}
                    {{ form_widget(registrationForm.age,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(registrationForm.age) }}
                </div>

                <div class="form-group col-6 col-md-4 col-lg-3">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(registrationForm.email) }}
                </div>

                <div class="form-group col-6 col-md-4 col-lg-3">
                    {{ form_label(registrationForm.plainPassword) }}
                    {{ form_widget(registrationForm.plainPassword,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>

                <div class="form-group col-6 col-md-4 col-lg-3">
                    {{ form_label(registrationForm.user_picture)  }}
                    {{ form_widget(registrationForm.user_picture,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(registrationForm.user_picture) }}
                </div>
                <div class="form-group col-6 col-md-4 col-lg-3">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                <div class="form-group col-6 col-md-2 mt-5 col-lg-2">
                    {{ form_label(registrationForm.valider) }}
                    {{ form_widget(registrationForm.valider,{ 'attr':{'class':'btn btn-secondary'}}) }}
                </div>
       </div>

    {{ form_end(registrationForm) }}
</div>
{% endblock %}








