{% extends 'base2.html.twig' %}
{% block main %}

<h1 class="titre">Les Témoignages</h1>
    <div class="sidebar">
        <div>
            <img src="{{ asset('assets/img/girl.svg') }}" alt="Logo" id="ad-compte" />
        </div>
            <h3 class="Compte_admin1">Compte administrateur</h3>
            {# grace à la proprieté path,je crée des liens qui renvoient vers les names de des functions
            que j'ai defini dans mes controllers adminarticles et admincategory #}
                <a href="{{ path("admin_page") }}">Les Articles</a>
                <a href="{{ path("home_category") }}">Les Catégories</a>
    </div>

    <table id="customers">
            {# j'appel dans ce tableau un articles dans mes articles et j'affiche son id et son titre #}
            {% for testimony in testimonys %}
        <tbody>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th class="text-center">Actions</th>
            </tr>
        <tbody>
            <tr>
                <td>{{testimony.id}}</td>
                <td>{{testimony.title}}</td>
                    <td class="text-center">
                        {# la methode path me permet de rappeler une function deja defini avec son id dans mon controller via son name
                        pour pouvoir supprimer ou modifier un article #}
                        <div><a href="{{ path('admin_testimony_insert') }}" id="couleur-inscription">Créer</a></div>
                        <div><a href="{{ path('admin_testimony_update', {'id':testimony.id}) }}" id="couleur-inscription">Modifier</a></div>
                        <div><a href="{{ path('admin_testimony_delete', {'id':testimony.id}) }}" id="couleur-inscription">Supprimer</a></div>
                    </td>
            </tr>
            {% endfor %}
    </table>
{% endblock main%}
