{% extends 'base.html.twig' %}

{% block main %}
{%  for message in app.flashes ('success') %}
    <p>{{ message }}</p>
{% endfor %}
    <div id="but"><a href="{{ path('admin_category_insert')}}"><h1>Créer votre catégory</h1></a></div>
    <div class="admin_container_categorys">
        {# lien pour creer un article avec la propriété path #}
        {% for category in categorys %}
            {# avec la boucle for j'appel un article dans mes articles avec clipable avec le lien a href  #}
            {# avec la propriete path j'appel un de mes articles qui sera clipable et qui affichera le contenu
             de ma page modify_static.html.twig#}
            {# avec la proprieté path je recupére un titre de mes articles et son id, grace au name de ma route articles #}
            {# j'appel mes images et mes titres  #}
            {% if loop.index is odd %}
            <article class="admin_category mt-5">
                <h2>{{ category.title}}</h2>
                   <p>{{ category.Date|date("m/d/Y") }}</p>
                        <p>{{ category.article }}</p>
                        <button class="button_category"><a href="{{ path('admin_category_update', {'id': category.id}) }}">modifier cette categorie</a></button>
                        {#  Je créer le lien qui va supprimer la category de la liste via son id #}
                        <button class="button_category"><a href="{{ path('admin_category_delete', {'id': category.id}) }}">supprimer cette categorie</a></button>
                </article>
            {% else %}
                <article class="admin_category mt-5">
                    <h2>{{ category.title}}</h2>
                    <p>{{ category.article }}</p>
                    <p>{{ category.Date|date("m/d/Y") }}</p>
                    <button class="button_category"><a href="{{ path('admin_category_update', {'id': category.id}) }}">modifier cette categorie</a></button>
                    {#  Je créer le lien qui va supprimer la category de la liste via son id #}
                    <button class="button_category"><a href="{{ path('admin_category_delete', {'id': category.id}) }}">supprimer cette categorie</a></button>
                </article>
            {% endif %}
        {% endfor %}
    </div><hr>
{% endblock main%}