{% extends 'base.html.twig' %}
{# dans une boucle for j'appel si success le message add flash que j'ai defini dans une des functions de
mon controller category#}
{# si ma category est supprimée mon message s'affichera grace à la variable globale app sur la page principale#}
{% block main%}
{# grace a la methode path je cree un lien qui renvoi mon formulaire creer dans un fichier twig#}
    {% if is_granted('ROLE_USER')%}
       <div id="admin_lien_category"><a href="{{ path('admin_category_insert')}}"><h1>Créer votre catégory</h1></a></div>
    {% endif %}
    <div class="admin_container_categorys">
        {# avec la boucle for j'appel une category dans les categorys #}
        {% for category in categorys %}
            <h2 class="title_categorys_admin">{{ category.title}}</h2>
                <div class="display_categorys_admin">
                    {% if loop.index is odd %}
                    {# ma condition if et la methode loop.index me permet de récuperer les entités de mes categorys
                    et de les afficher en les alternants grâce à else #}
                    {# j'appel mes images et mes titres  #}
                        <article class="box_categorys_admin">
                            <p>{{ category.Date|date("m/d/Y") }}</p>
                            <p>{{ category.article }}</p>
                        </article>
                        {# la methode asset(uploads:category me permet de recuperer les images qui ont été uploadé en bdd #}
                        <img src="{{ asset('uploads/category/' ~ category.photo) }}" alt="" class="box_categorys_admin_photo">
                    {% else %}
                        <img src="{{ asset('uploads/category/' ~ category.photo) }}" alt="" class="box_categorys_admin_photo">
                        <article class="box_categorys_admin">
                            <p>{{ category.article }}</p>
                            <p>{{ category.Date|date("m/d/Y") }}</p>
                        </article>
                    {% endif %}
                </div>
                    {# la methode path me permet de rappeler une function deja defini avec son id dans mon controller via son name
                    pour pouvoir supprimer ou modifier une category #}
                    <div class="button_category"><a href="{{ path('admin_category_update', {'id': category.id}) }}">Modifier</a></div>
                    <div class="button_category"><a href="{{ path('admin_category_delete', {'id': category.id}) }}">Supprimer</a></div>

        {% endfor %}
    </div>
{% endblock main%}










