{% extends 'base.html.twig' %}


{% block main %}
    <div class="container-actu">
        <div class="ligne1">
            <a href><p class="entraide">Entraide</p></a>
        </div>
        <div class="ligne2">
            <a href><p class="solidarite">Solidarité</p></a>
        </div>
        <div class="ligne3">
            <a href><p class="partage">Partage</p></a>
        </div>

    </div>
{#lien de redirection de don #}
{# grace a la methode path je cree un lien qui renvoi mon formulaire creer dans un fichier twig#}
    {% if is_granted('ROLE_USER')%}
        <div id="lien_articles"><a href="{{ path('Front_utilisateurs_insert_article') }}"><h1 class="lien_articles">Créer votre article</h1></a></div>
    {% endif %}
    <div class="top">
        <p class="top-article">
            Articles
        </p>
    </div>
<div class="admin_container_articles position-relative">
{% for article in articles %}
{# avec la boucle for j'appel un article dans mes articles #}
  {# ma condition if et la methode loop.index me permet de récuperer les entités de mes articles
  et de les afficher en les alternants grâce à else #}
    {% if loop.index is odd %}
        <article class="box_articles">
             <div class="row">
                 <h1 class="title_articles_admin">{{ article.title }}</h1>
                    <img src="{{ asset('assets/img/love.svg') }}"alt="" class=" position-absolute love">
                 <p class="contente-article">{{ article.content }}</p>
             </div>
        </article>
             {# la methode asset(uploads:articles me permet de recuperer les images qui ont ete uploader en bdd #}
             <img src="{{ asset('uploads/articles/' ~ article.illustration) }}" alt="" class="position-absolute img_box_articles_admin">
    {% else %}
        {# la methode asset(uploads:articles me permet de recuperer les images qui ont ete uploader en bdd #}
        <article class="box_articles">
            <div class="row">
                <h2 class="title_articles_admin">{{ article.title }}</h2>
                <img src="{{ asset('assets/img/love.svg') }}"alt="" class="position-absolute love2">
                <p class="contente-article1">{{ article.content }}</p>
            </div>
        </article>
        <img src="{{ asset('uploads/articles/' ~ article.illustration) }}" alt="" class=" position-absolute img_art_ad">
    {% endif %}
{% endfor %}
</div>
    <div class="bas">
        <p class="bas-article">Nous avons besoin de vous!<br><a href="https://www.monreseau-cancerdusein.com/?gclid=EAIaIQobChMI59bCo_rN7gIVjNrVCh1hTQxTEAAYASAAEgIv_fD_BwE" class="faire-un-don">Faire un don</a></p>

    </div>
{% endblock main%}
{# la condition if is granted me permet de choisir les élements du site qui seront visible pas les personnes
 ayant le role_admin#}
    {#
    {% if is_granted('ROLE_ADMIN')%}
    {# la methode path me permet de rappeler une function deja defini avec son id dans mon controller via son name
    pour pouvoir supprimer ou modifier un article #}
    {#
    <div id="admin_button"><a href="{{ path('admin_article_update', {'id':article.id}) }}">Modifier</a></div>
    <div id="admin_button"><a href="{{ path('admin_article_delete', {'id':article.id}) }}">Supprimer</a></div>
  {% endif %}#}
{#  {% if article.illustration %}
{#
je récupère le nom du fichier uploadé
que je concatène avec le dossier
dans le dossier uploadé
#}{# <img src="{{ asset('uploads/articles/' ~ article.illustration) }}" alt=""> #}
{#{% endif %}#}

