{% extends 'base.html.twig' %}

{% block main %}
<div id="but"><h1 class="vos_articles">Vos articles</h1></div>
<div class="front_container_articles">
{% for article in articles %}
{# avec la boucle for j'appel un article dans mes articles avec clipable avec le lien a href  #}
{# avec la propriete path j'appel un de mes articles qui sera clipable et qui affichera le contenu
de ma page modify_static.html.twig#}
{# avec la proprieté path je recupére un titre de mes articles et son id, grace au name de ma route articles #}
{# j'appel mes images et mes titres  #}
     {% if loop.index is odd %}
        <article class="front_articles">
            <div class="front_content_articles">
                <p>{{ article.category }}</p>
                  <h2>{{ article.title }}</h2>
                    <p>{{ article.content }}</p>
                    <div class="front_illudtration_articles">
                        <img src="{{ asset('uploads/articles/' ~ article.illustration) }}" alt="">
                    </div>
            </div>
        </article>
     {% endif %}
{% endfor %}
</div>
{% endblock main%}
{#  {% if article.illustration %}
{#
je récupère le nom du fichier uploadé
que je concatène avec le dossier
dans le dossier uploadé
#}{# <img src="{{ asset('uploads/articles/' ~ article.illustration) }}" alt=""> #}
{#{% endif %}#}

