{% extends 'base.html.twig' %}
{% block message %}
    {# je mets mon message dans un block message, qui  est redefini dan mon fichier twig#}
    {#  si mon message est supprimé j'affiche mon message grace a la variable globale app sur la page principale#}
{%  for message in app.flashes ('success') %}
        <p>{{ message }}</p>
{% endfor %}
{% endblock message%}
{% block main %}
    <div id="but"><a href="{{ path('admin_testimony_insert') }}"></a><h1>Créer votre témoignage</h1></div>
    <div class="cont">
    {# lien pour creer un temoignage avec la propriété path #}
     {% for testimony in testimonys %}
        {# avec la boucle for j'appel un temoignage parmis tous les temoignages avec un lien clipable a href  #}
        {# avec la proprieté path je recupére un titre de mes temoignages et son id, grace au name de ma route temoignages #}
        <article class="article">
            <h2 class="titre">{{ testimony.title }}</h2>
            <div class="content">
                <p id="test">{{ testimony.article }}</p>
            </div>
            <div id="button"><a href="{{ path('admin_testimony_delete', {'id':testimony.id}) }}">supprimer</a></div>
            <div id="button"><a href="{{ path('admin_testimony_update', {'id':testimony.id}) }}">modifier</a></div>
        </article>
        </div>
    {% endfor %}
    </div>
{% endblock main%}