<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Site pour les femmes qui ont eu un cancerdu sein">
    <meta name="author" content="vanessa">
    <meta name="keywords" content="cancer,sein,maladie,accessoires">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% block stylesheet %}{{ asset('assets/css/base.css') }}{% endblock stylesheet %}">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet1">
    <link rel="stylesheet" media="screen and (max-width: 540px)" href="smallscreen.css" type="text/css" />
     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block header%}
    <header class="" id="bg">
        <div class="d-none col-lg-2 mr-0 d-lg-block position-absolute" id="logo">
            <img src="{{ asset('assets/img/LESAMAZONES1.svg') }}" alt="" class="img-fluid">
        </div>
        <nav>
            <ul>
                <li class=""><a href="#Généralités">Généralités &ensp;</a>
                    <ul class="soubmenu">
                        <li class=""><a href="{{path('home_page')}}">Statistiques</a></li>
                        <li class=""><a href="#">Newsletter</a></li>
                        <li class=""><a href="contact.html">Contact</a></li>
                        <li class=""><a href="Apropos.html">A propos</a></li>
                    </ul>
                </li>
                <li class=""><a href="#Pages">Pages &ensp;</a>
                    <ul class="submenu">
                        <li class=""><a href="psychologique.html">Psychologique</a></li>
                        <li class=""><a href="esthetique.html">Esthétique</a></li>
                        <li class=""><a href="perruques.html">Pérruques</a></li>
                        <li class=""><a href="assurances.html">Assurances</a></li>
                    </ul>
                </li>
                <li class=""><a href="#Actualités">Actualités&ensp;</a>
                    <ul class="soumenu">
                        <li class=""><a href="larecherche.html">Recherche</a></li>
                        <li class=""><a href="{{path('Front_articlelist')}}">Articles</a></li>
                        <li class=""><a href="{{path('Front_categorylist')}}">Categories</a></li>
                        <li class=""><a href="{{path('Front_testimony_list')}}">Témoignages</a></li>
                        <li class=""><a href="annuaire.html">Annuaire</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
{% endblock header %}

<main class="container-fluid ">
    {% block main %}
        {#     <!--lien vers asso -->
        <main class="container-fluid mt-5 ">
            <div class="row p-3" id="dons">
                 <div class="col-12 d-flex">
                    <p class="faireundon">Faire un Don <br>Pour la ligue contre le cancer</p>
                    <a href="https://don.ligue-cancer.net/octobrerose2020/~mon-don?utm_source=sidiese&utm_medium=octobrerose20&utm_campaign=LP&utm_content=boutondon" target="_blank" id="button"><span>Faire un don</span></a>
                </div>
        </div>
        {% block message %}{% endblock message %}
        {% block section%}{% endblock section%}
       #}
    {% endblock main %}
</main>

    <footer class="container-fluid  mt-5 py-5" id="footer">
        <div class="container">
            <div class="row position-relative justify-content-center">
                <div class="col-12 col-sm-8 col-md-6 ml-3 text-center">
                    <a class="col-6 col-md-6 text-center" id="footer" href=" #mentionslégales/ #Copyright ">Mentions légales||©Labat</a>
                </div>
                <div class="col-2 col-md-1 col-lg-1 position-absolute offset-lg-2" id="logoarrow">
                    {# la fonction asset permet de recuperer dans un autre dossier son contenu ici dossier img  #}
                    <a href="#"><img src="{{ asset('assets/img/up-arrow.svg') }}" alt=""></a>
                </div>
                <div class="col-2 col-md-1 mt-2 position-absolute offset-lg-1" id="facebook">
                    <a href="https://fr-fr.facebook.com/" target="_blank"><img src=" {{ asset('assets/img/facebook.svg') }}" alt="" class=""></a>
                </div>
                <div class="col-2 col-md-1 col-lg-1 position-absolute" id="twitter">
                    <a href="https://mobile.twitter.com/?lang=fr" target="_blank"><img src=" {{ asset('assets/img/twitter.svg') }}" alt="" class=""></a>
                </div>
                <div class="col-2 col-md-1 col-lg-1  position-absolute" id="instagram">
                    <a href="https://www.instagram.com/?hl=fr" target="_blank"><img src="{{ asset('assets/img/instagram.svg') }}" alt="" class=""></a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>