{% extends'base.html.twig' %}

{% block title %}Les amazones{% endblock %}
{# extends permet d'etendre le code html du fichier base.html pour eviter la repetition du code #}
{% block stylesheet %}{{ asset('assets/css/home.css') }}{% endblock stylesheet %}
{% block header %}
    <header>
        {# nav barre de la home#}
        <nav class="position-relative">
            <ul>
                <li class=""><a href="{{path('home_page')}}">Actualités &ensp;</a>
                    <ul class="soubmenu">
                        <li class=""><a href="{{path('contact')}}">Contact</a></li>
                        <li class=""><a href="{{path('apropos')}}">Apropos</a></li>
                    </ul>
                </li>
                <li class=""><a href="{{path('Front_articlelist')}}">Articles &ensp;</a>
                    <ul class="submenu">
                        <li class=""><a href="">Annuaire</a></li>
                    </ul>
                </li>
                <li class=""><a href="{{path('Front_categorylist')}}">Catégories&ensp;</a>
                    <ul class="soumenu">
                        <li class=""><a href="{{path('Front_testimony_list')}}">Témoignages</a></li>

                    </ul>
                </li>
            </ul>
            <div class="position-absolute login">
                <a href="{{path('app_login')}}"><img src="{{ asset('assets/img/woman4.png') }}" alt="" id="login"></a>
            </div>
        </nav>
        <div class="position-absolute intro">
            <h1>Ensemble contre le cancer du sein</h1>
        </div>
                <div class="position-absolute text">
                   <p class="amazones">Les Amazones</p>
                </div>
            <div class="col-lg-2 position-absolute" id="logo4">
                <img src="{{ asset('assets/img/logo5.svg') }}" alt="">
            </div>
        <div class="position-absolute don">
            <a href="https://www.monreseau-cancerdusein.com/?gclid=EAIaIQobChMI59bCo_rN7gIVjNrVCh1hTQxTEAAYASAAEgIv_fD_BwE" class="don1">Faire un Don</a>
        </div>
        {% if is_granted('ROLE_USER')%}
            <div class="col-lg-2 position-absolute mon-compte">
                <a href="{{path('users')}}">Profil</a>
            </div>
        {% endif %}

            {% if is_granted('ROLE_ADMIN')%}
                <div class="col-lg-2 position-absolute" id="google">
                    <a href="{{path('admin_page')}}"><img src="{{ asset('assets/img/settings.svg') }}" alt="" class="img-fluid"></a>
                </div>
            {% endif %}
        <div class="haut">
        </div>
    </header>
{% endblock header %}

{% block main %}
    <div class="container-actu">
        <div class="ligne1">
           <a href><p class="entraide">Entraide</p></a>
        </div>
            <div class="ligne2">
               <a href><p class="solidarite">Solidarité</p></a>
            </div>
        <div class="ligne3">
            <a href><p class="partage">Partage</p></a>
        </div>
    </div>
  <h2 class="actualites">Actualités</h2>
    <div class="container">
        <div class="element2">
                <img class="sidenav-logo dropshadow-1 image1" src="{{ asset('assets/img/severine.jpg') }}" alt=""  />
                <p class="titre">Les Accéssoires...</p>
        </div>
            <div class="element2">
                    <img class="sidenav-logo dropshadow-1 image1" src="{{ asset('assets/img/severine.jpg') }}" alt="" />
                    <p class="titre">Le Sport...</p>
            </div>
        <div class="element2">
                <img class="sidenav-logo dropshadow-1 image1" src="{{ asset('assets/img/severine.jpg') }}" alt=""  />
                <p class="titre">La Recherche...</p>
        </div>

    </div>
        <div class="button">
            <a href="" class="lire-plus">
                Lire plus..
            </a>
        </div>
    <div class=row1>
        <p class="unis">"La maladie la plus constante et la plus mortelle,
            mais aussi la plus méconnue de toute société, est l'indifférence."<br><br> Abbé Pierre</p>
    </div>
    {# carousel #}
    <div class="text-light">
        <div id="client-testimonial-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active text-center p-4">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0"><i class="fa fa-quote-left"></i>"Mes amies m'ont soutenu!"
                        </p>
                        <footer class="blockquote-footer">Estelle<cite title="Source Title"></cite></footer>
                    </blockquote>
                    <div>
                        <img src="{{ asset('assets/img/woman.jpg') }}" class="mt-5 d-block w-100 img-carousel" alt="">
                    </div>
                </div>
                <div class="carousel-item text-center p-4">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0"><i class="fa fa-quote-left"></i>"Aprés ma maladie <br>j'ai crée une boutique de perruque!"
                        </p>
                        <footer class="blockquote-footer">Léa <cite title="Source Title"></cite></footer>
                    </blockquote>
                    <div>
                        <img src="{{ asset('assets/img/moi2.jpg') }}" class=" d-block w-100 img-carousel" alt="">
                    </div>
                </div>
                <div class="carousel-item text-center p-4">
                    <blockquote class="blockquote text-center">
                        <p class="mb-0"><i class="fa fa-quote-left"></i> "Nous avons soutenu notre mére!"
                        </p>
                        <footer class="blockquote-footer">La famille Henri <cite title="Source Title"></cite></footer>
                    </blockquote>
                    <div>
                        <img src="{{ asset('assets/img/people2.jpg') }}" class="d-block mt-5 w-100 img-carousel" alt="">
                    </div>
                </div>
                <div class="carousel-control-prev"  role="button" data-target="#client-testimonial-carousel"  data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </div>
                <div class="carousel-control-next" role="button" data-target="#client-testimonial-carousel"  data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#client-testimonial-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#client-testimonial-carousel" data-slide-to="1"></li>
                <li data-target="#client-testimonial-carousel" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
    {# formulaire newsletter #}
    <div class="forcont">
        <div class=" position-absolute informe">
            <P class="news">Newsletter<br>Choisissez l'actualité qui vous intéresse et rester informer !!!</P>
        </div>
            <div class="formContainer">
                <form action="{{path('newsletter')}}">
                        <input type="text" id="email" name="email" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder='email'"><br><br>
                        <input type="submit" value="Valider" class="submit">
                   </form>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock main%}



