{% extends 'base.html.twig' %}
{# extends permet d'etendre le code html du fichier base.html pour eviter la repetition du code #}
{% block title %}sitelesamazones{% endblock %}
{% block stylesheet %}{{ asset('assets/css/home.css') }}{% endblock stylesheet %}
{# fichier base de mon projet ou le header et le footer se repeterons sur mes autres pages  #}
{% block header %}
    <header class="haut">
        {# nav barre de la home#}
        <nav class="position-relative">
            <ul>
                <li class=""><a href="#Généralités">Généralités &ensp;</a>
                    <ul class="soubmenu">
                        <li class=""><a href="{{path('home_page')}}">Statistiques</a></li>
                        <li class=""><a href="#">Newsletter</a></li>
                        <li class=""><a href="contact.html">Contact</a></li>
                        <li class=""><a href="Apropos.html">A propos</a></li>
                    </ul>
                </li>
                <li class=""><a href="#Pages">Pages &ensp;</a>
                    <ul class="submenu">
                        <li class=""><a href="psychologique.html">Psychologique</a></li>
                        <li class=""><a href="esthetique.html">Esthétique</a></li>
                        <li class=""><a href="perruques.html">Pérruques</a></li>
                        <li class=""><a href="assurances.html">Assurances</a></li>
                    </ul>
                </li>
                <li class=""><a href="#Actualités">Actualités&ensp;</a>
                    <ul class="soumenu">
                        <li class=""><a href="larecherche.html">Recherche</a></li>
                        <li class=""><a href="{{path('Front_articlelist')}}">Articles</a></li>
                        <li class=""><a href="{{path('Front_categorylist')}}">Categories</a></li>
                        <li class=""><a href="{{path('Front_testimony_list')}}">Témoignages</a></li>
                        <li class=""><a href="annuaire.html">Annuaire</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    <div class="position-absolute text">
        <p class="amazones">Les Amazones</p>
    </div>
    <div class="position-absolute don">
        <a href="https://www.monreseau-cancerdusein.com/?gclid=EAIaIQobChMI59bCo_rN7gIVjNrVCh1hTQxTEAAYASAAEgIv_fD_BwE">Faire un Don</a>
    </div>
    <div class="position-absolute login">
        <a href=""><img src="{{ asset('assets/img/woman4.png') }}" alt="" class="img-fluid"></a>
    </div>

    {% if is_granted('ROLE_ADMIN')%}
        <div class="col-lg-2 position-absolute" id="google">
            <a href="{{path('admin_page')}}"><img src="{{ asset('assets/img/settings.svg') }}" alt="" class="img-fluid"></a>
        </div>
    {% endif %}
        {# logo clipable de connection redirection vers formulaire grâce à la propriete path#}

</header>
{% endblock header %}

{% block main %}
    <h1 class="actualites">Actualités</h1>
    <div class="container">
        <div class="row">
            <div class="element2">
                <img class="sidenav-logo dropshadow-1 image1" src="{{ asset('assets/img/severine.jpg') }}" alt=""  />
                <p class="titre">Les Accéssoires</p>
                <a href="" class="article">lire la suite..</a>
            </div>
        </div>

        <div class="row">
            <div class="element2">
                <img class="sidenav-logo dropshadow-1 image1" src="{{ asset('assets/img/severine.jpg') }}" alt="" />
                <p class="titre">Le Sport</p>
                <a href="" class="article">lire la suite..</a>
            </div>
        </div>

        <div class="row">
            <div class="element2">
                <img class="sidenav-logo dropshadow-1 image1" src="{{ asset('assets/img/severine.jpg') }}" alt=""  />
                <p class="titre">La Recherche</p>
                <a href="" class="article">lire la suite..</a>
            </div>
        </div>
    </div>
    <div class="button">
        <a href="">
            Lire plus..
        </a>
    </div>
    <div class=row1>
        <p class="unis">" Toutes unis contre le cancer !! "</p>
        <div id="img">
            <img src="{{ asset('assets/img/karate.jpg') }}" alt="" class="img">
        </div>
    </div>
    {# carousel #}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('assets/img/woman.jpg') }}" class="d-block w-100" alt="...">
            </div>
                <div class="carousel-item">
                    <img src="{{ asset('assets/img/moi.jpg') }}" class="d-block w-100" alt="...">
                </div>
            <div class="carousel-item">
                <img src="{{ asset('assets/img/people.jpg') }}" class="d-block w-100" alt="...">
            </div>
        </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </a>
    </div>

{# formulaire newsletter #}
    <div class="forcont">
        <div class=" position-absolute informe">
            <P class="news">Newsletter</P>
            <p class="informer">Choisissez l'actualité qui vous intéresse et rester informer !!!</p>
        </div>
        <div class="formContainer">
            <form>
                <input type="text" id="email" name="email" placeholder="email" onfocus="this.placeholder=''" onblur="this.placeholder='email'"><br><br>
                <input type="submit" value="Submit" class="submit">
            </form>

        </div>
    </div>

{% endblock main%}



