{% extends 'base.html.twig'%}


{% block main %}

<h1 class="recherche">Votre recherche</h1>
<div class="form-group-recherche-article">
        {{ form_start(formView, {attr: {novalidate: 'novalidate'}}) }}
        {{ form_row(formView.title, {'label': " ",'class':'form-control', 'attr': {'placeholder': 'mot clé...'}}) }}
        <button class="btn btn-primary" id="button_recherche">rechercher</button>
        {{ form_end(formView) }}
    <div id="recherche_articles">
            {% for article in articles %}
                <article>
                    <div class="card border-light mb-3" id="articlesRecents" style="max-width: 25rem;margin:1.5em;">
                        <div class="card-header">
                            <h3>{{ article.title }}</h3>
                        </div>
                            <div class="card-body">
                                <h4{{ article.category.title }}</h4>
                                <p class="card-text">
                                    {{ article.content | slice(0, 170) | raw }} ...
                                </p>
                                <a href="{{ path('Front_articlelist', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
                            </div>
                    </div>
                </article>
            {% endfor %}
    </div>
        <div class="pagination">
            {{ knp_pagination_render(articles) }}
        </div>
</div>
{% endblock main%}