{% extends 'base.html.twig' %}


{% block main%}
    <div class="insert-testimony position-relative">
        <h1 class="titre-temoignage-insert">Témoignagez</h1>
            <div>
                <p class="insert-testimony-text position-absolute">Vous pouvez créer votre témoignage et le partager avec d'autres utilisateurs !!</p>
              <img src="{{ asset('assets/img/mainsunis.jpg') }}" alt="" class="img-fluid position absolute" id="mainsunis">
            </div>

{# j'utilise la fonction form_start de twig et en paramétre formView pour afficher la vue de mon formulaire #}
{{ form_start(formView, {attr: {novalidate: 'novalidate'}}) }}
    <div class="form-group-testimony-insert">
           <div class="form-group col-6 col-md-4 col-lg-3">
                    {# avec la fonction form_label je crée un label title  #}
                    {{ form_label(formView.title) }}
                    {# avec la fonction form_widget je crée un input  #}
                    {{ form_widget(formView.title,{ 'attr':{'class':'form-control'}}) }}
                    {# avec le fonction form_errer me permet d'afficher les messages d'erreur que j'ai definis dans les entités#}
                    {{ form_errors(formView.title) }}
                </div>

                <div class="form-group col-6 col-md-4 col-lg-3">
                    {{ form_label(formView.author) }}
                    {{ form_widget(formView.author,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(formView.author) }}
                </div>

                <div class="form-group col-6  col-md-4 col-lg-3 ">
                    {{ form_label(formView.date) }}
                    {{ form_widget(formView.date,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(formView.date) }}
                </div>
                <div class="form-group col-6  col-md-4 col-lg-3">
                    {{ form_label(formView.picture) }}
                    {{ form_widget(formView.picture, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(formView.picture) }}
                </div>

                <div class="form-group col-6 col-md-4 col-lg-3">
                    {{ form_label (formView.article) }}
                    {{ form_widget(formView.article,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(formView.article) }}
                </div>

                <div class="form-group col-12 col-md-2 mt-5 col-lg-2">
                    {{ form_label(formView.valider) }}
                    {{ form_widget(formView.valider,{ 'attr':{'class':'btn btn-secondary'}}) }}
                </div>
    {# form_end ferme mon formulaire #}
    {{ form_end(formView) }}
    </div>
</div>
{% endblock main%}
