{% extends 'base.html.twig' %}
{% block main%}
{# je crée un formulaire avec  form_start grace a cette fonction je vais pouvoir demander à sf  de
 generer un cabarit que je pourrai styliser avec bootstrap en placant chaque elements dans des div,
#}
{%  for message in app.flashes ('success') %}
        <p>{{ message }}</p>
{% endfor %}
    <h1 class="text-center mt-5"> Vous pouvez modifier votre Témoignage</h1>
    <div class="form-group ml-5 col-12 col-lg-5  mt-5">
        {{ form_start(formView, {attr: {novalidate: 'novalidate'}}) }}
        {# avec la fonction form_label je crée un label title  #}
        <div class="form-group col-md-2">
            {{ form_label(formView.title) }}
            {# avec la fonction form_widget je crée un input  #}
            {{ form_widget(formView.title,{ 'attr':{'class':'testimony_form_title'}}) }}
            {# avec le fonction form_errer me permet d'afficher les messages d'erreur que j'ai definis dans les entités#}
            {{ form_errors(formView.title) }}
        </div>

        <div class="form-group col-md-2">
            {{ form_label(formView.author) }}
            {# avec la fonction form_widget je crée un input  #}
            {{ form_widget(formView.author,{ 'attr':{'class':'testimony_form_author'}}) }}
            {# avec le fonction form_errer me permet d'afficher les messages d'erreur que j'ai definis dans les entités#}
            {{ form_errors(formView.author) }}
        </div>

        <div class="form-group col-md-2 ">
            {{ form_label(formView.date) }}
            {{ form_widget(formView.date,{ 'attr':{'class':'testimony_form_date'}}) }}
            {# avec le fonction form_errer me permet d'afficher les messages d'erreur que j'ai definis dans les entités#}
            {{ form_errors(formView.date) }}
        </div>

        <div class="form-group col-md-2">
            {{ form_label (formView.article) }}
            {{ form_widget(formView.article,{ 'attr':{'class':'testimony_form_article'}}) }}
            {{ form_errors(formView.article) }}
        </div>

        <div class="form-group col-md-2">
            {{ form_label(formView.valider) }}
            {{ form_widget(formView.valider,{ 'attr':{'class':'testimony_form_valider'}}) }}
        </div>
        {# form_end ferme mon formulaire #}
        {{ form_end(formView) }}
    </div>
{% endblock main%}
