{% extends 'base.html.twig' %}
{% block main%}
{%  for message in app.flashes ('success') %}
    <p>{{ message }}</p>
{% endfor %}
<div id="but"><a href="{{ path('admin_article_insert') }}"><h1>Créer votre article</h1></a></div>
    {# lien pour creer un article avec la propriété path #}
  <div class="admin_container_articles">
    {% for article in articles %}
    {# avec la boucle for j'appel un article dans mes articles avec clipable avec le lien a href  #}
    {# avec la propriete path j'appel un de mes articles qui sera clipable et qui affichera le contenu
    de ma page modify_static.html.twig#}
    {# avec la proprieté path je recupére un titre de mes articles et son id, grace au name de ma route articles #}
    {# j'appel mes images et mes titres  #}

        <h2 class="title_articles_admin">{{ article.title }}</h2>
        <div class="display_articles_admin">
            {% if loop.index is odd %}
                <article class="box_articles_admin">
                    <p>{{ article.content }}</p>
                </article>
                <img src="{{ asset('uploads/articles/' ~ article.illustration) }}" alt="" class="box_articles_admin">
              {% else %}
                  <img src="{{ asset('uploads/articles/' ~ article.illustration) }}" alt="" class="box_articles_admin">
                  <article class="box_articles_admin">
                    <p>{{ article.content }}</p>
                </article>
            {% endif %}
        </div>
        <div id="admin_button"><a href="{{ path('admin_article_delete', {'id':article.id}) }}">Supprimer</a></div>
        <div id="admin_button"><a href="{{ path('admin_article_update', {'id':article.id}) }}">Modifier</a></div>

{#{% if article.illustration %}
{#
je récupère le nom du fichier uploadé
que je concatène avec le dossier
dans le dossier uploadé #}
{# {% endif %} #}
    {% endfor %}
  </div>
{% endblock main %}


