{% extends 'base.html.twig' %}
{# j'utilise la fonction form de twig et en paramétre formView pour afficher la vue de mon formulaire #}
{% block main %}

<h1 class="text-center" id="creer-article">Créer votre article</h1>
    {# je crée un formulaire avec  form_start grace a cette fonction je vais pouvoir demander à sf  de
 generer un cabarit que je pourrai styliser avec bootstrap en placant chaque elements dans des div,
    #}
<div class="row position relative">
    <div class="position absolute">
        <img src="{{ asset('assets/img/contrats-assurance.png') }}" alt="" class="img-fluid" id="contrats-assurance">
    </div>
</div>
    {{ form_start(formView, {attr: {novalidate: 'novalidate'}}) }}
    {# avec la fonction form_label je crée un label title  #}
    <form>
      <div class="form-group-article-insert">
            <div class="form-group col-6 col-md-4 col-lg-3">
                {{ form_label(formView.date) }}
                {{ form_widget(formView.date,{ 'attr':{'class':'form-control'}}) }}
                {{ form_errors(formView.date) }}
            </div>
            <div class="form-group col-6 col-md-4 col-lg-3">
                {{ form_label(formView.title) }}
                {# avec la fonction form_widget je crée un input  #}
                {{ form_widget(formView.title,{ 'attr':{'class':'form-control'}}) }}
                {# avec le fonction form_errer me permet d'afficher les messages d'erreur que j'ai definis dans les entités#}
                {{ form_errors(formView.title) }}
            </div>

            <div class="form-group col-6 col-md-4 col-lg-3">
                {{ form_label(formView.content) }}
                {{ form_widget(formView.content,{ 'attr':{'class':'form-control'}}) }}
                {# avec le fonction form_errer me permet d'afficher les messages d'erreur que j'ai definis dans les entités#}
                {{ form_errors(formView.content) }}
            </div>

            <div class="form-group col-6 col-md-4 col-lg-3">
                {{ form_label(formView.illustration) }}
                {{ form_widget(formView.illustration, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(formView.illustration) }}
            </div>

            <div class="form-group col-6 col-md-4 col-lg-3">
                {# ici je creer un input dans mon formulaire qui sera affichera les titres de mes categories #}
                {{ form_label(formView.category) }}
                {{ form_widget(formView.category,{ 'attr':{'class':'form-control'}}) }}
                {{ form_errors(formView.category) }}
            </div>

            <div class="form-group col-6 col-md-2 mt-5 col-lg-2">
                {{ form_label(formView.valider) }}
                {{ form_widget(formView.valider,{ 'attr':{'class':'form-control'}}) }}
            </div>
      </div>
    </form>

    {# form_end ferme mon formulaire #}
    {{ form_end(formView) }}

{% endblock main%}