{% extends 'base.html.twig' %}

{# j'utilise la fonction form-start de twig et en paramétre formView pour afficher la vue de mon formulaire #}
{% block main%}

<div class="insert position-relative">
    <h1 class="modifier-article">Modifier votre article</h1>
    <div>
        <p class="insert-article position-absolute">Vous pouvez modifier votre article et le partager avec d'autres utilisateurs !!</p>
        <img src="{{ asset('assets/img/contrats-assurance.png') }}" alt="" class="img-fluid" id="contrats-assurance">
    </div>

    {{ form_start(formView, {attr: {novalidate: 'novalidate'}}) }}
        {# avec la fonction form_label je crée un label title  #}
            <div class="form-group-article-modify">
                <div class="form-group col-6 col-md-4 col-lg-3">
                    {{ form_label(formView.date) }}
                    {{ form_widget(formView.date,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(formView.date) }}
                </div>
                <div class="form-group col-6 col-md-4 col-lg-3">
                    {{ form_label(formView.title) }}
                    {# avec la fonction form_widget je crée un input  #}
                    {{ form_widget(formView.title,{ 'attr':{'class':'form-control'}}) }}
                    {# avec le fonction form_errer me permet d'afficher les messages d'erreur que j'ai definis dans les entités#}
                    {{ form_errors(formView.title) }}
                </div>

                <div class="form-group col-6 col-md-4 col-lg-3">
                    {{ form_label(formView.content) }}
                    {{ form_widget(formView.content,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(formView.content) }}
                </div>

                <div class="form-group col-6 col-md-4 col-lg-3">
                    {{ form_label(formView.illustration) }}
                    {{ form_widget(formView.illustration, {'attr': {'class':'article_form_illustration'}}) }}
                    {{ form_errors(formView.illustration) }}
                </div>

                <div class="form-group col-6 col-md-4 col-lg-3">
                    {{ form_label(formView.category) }}
                    {{ form_widget(formView.category,{ 'attr':{'class':'form-control'}}) }}
                    {{ form_errors(formView.category) }}
                </div>

               <div class="form-group col-6 col-md-2 mt-5 col-lg-2">
                   {{ form_label(formView.valider) }}
                   {{ form_widget(formView.valider,{ 'attr':{'class':'form-control'}}) }}
               </div>
            </div>
    {{ form_end(formView) }}
</div>
{% endblock main%}