{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous{% endblock title%}

{% block main %}
<form class="mt-5">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationServer01"></label>
                    {{ form_label(formView.firstname) }}
                    {# avec la fonction form_widget je crée un input  #}
                    {{ form_widget(formView.firstname,{ 'attr':{'class':'user_form_firstname'}}) }}
                    {{ form_errors(formView.firstname) }}
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationServer02"> Prénom</label>
                    {{ form_label(formView.name) }}
                    {# avec la fonction form_widget je crée un input  #}
                    {{ form_widget(formView.name,{ 'attr':{'class':'user_form_name'}}) }}
                    {{ form_errors(formView.name) }}
            </div>

            <div class="col-md-4 mb-3 ">
                <label for="validationServerUsername">age</label>
                    {{ form_label(formView.age) }}
                    {# avec la fonction form_widget je crée un input  #}
                    {{ form_widget(formView.age,{ 'attr':{'class':'user_form_age'}}) }}
                    {{ form_errors(formView.age) }}
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationServer01">Adresse</label>
                        {{ form_label(formView.adress) }}
                        {# avec la fonction form_widget je crée un input  #}
                        {{ form_widget(formView.adress,{ 'attr':{'class':'user_form_adress'}}) }}
                        {{ form_errors(formView.adress) }}
                </div>

                <div class="col-md-3 mb-3">
                    <label for="validationServer02">City</label>
                        {{ form_label(formView.city) }}
                        {# avec la fonction form_widget je crée un input  #}
                        {{ form_widget(formView.city,{ 'attr':{'class':'user_form_city'}}) }}
                        {{ form_errors(formView.city) }}
                </div>

                <div class="col-md-3 mb-3">
                    <label for="validationServer02">Phone</label>
                    {{ form_label(formView.phone) }}
                    {# avec la fonction form_widget je crée un input  #}
                    {{ form_widget(formView.phone,{ 'attr':{'class':'user_form_phone'}}) }}
                    {{ form_errors(formView.phone) }}
                <div>
            </div>
               <div class="form-row">
                     <div class="col-md-5  mb-3">
                        <label for="validationServer02">Ville</label>
                        {{ form_label(formView.email) }}
                        {# avec la fonction form_widget je crée un input  #}
                        {{ form_widget(formView.email,{ 'attr':{'class':'user_form_email'}}) }}
                        {{ form_errors(formView.email) }}
                    </div>


                    <div class="col-md-4 mb-3">
                        <label for="validationServer01">Password first</label>
                        {{ form_label(formView.password.first) }}
                        {# avec la fonction form_widget je crée un input  #}
                        {{ form_widget(formView.password.first,{ 'attr':{'class':'user_form_password.first'}}) }}
                        {{ form_errors(formView.password.first) }}
                     </div>

                     <div class="col-md-5 mb-3">
                         <label for="validationServer02">Password second</label>
                         {{ form_label(formView.password.second) }}
                         {# avec la fonction form_widget je crée un input  #}
                         {{ form_widget(formView.password.second,{ 'attr':{'class':'user_form_password.second'}}) }}
                         {{ form_errors(formView.password.second) }}
                     </div>

                     <div class="col-md-5 mb-3">
                         <label for="validationServer02">picture</label>
                         {{ form_label(formView.user_picture) }}
                         {# avec la fonction form_widget je crée un input  #}
                         {{ form_widget(formView.user_picture,{ 'attr':{'class':'user_form_user_picture'}}) }}
                         {{ form_errors(formView.user_picture) }}
                     </div>

        </div>

<button type="submit">Register!</button>
{{ form_end (formView) }}
 </form>
{#
Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
See https://symfony.com/doc/current/security/remember_me.html

<div class="checkbox mb-3">
<label>
    <input type="checkbox" name="_remember_me"> Remember me
</label>
</div>
#}
{% endblock main%}